@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">ЗАДАЧНИК</h1>
    <br />
    <p class="lead text-center">Задачник - вспомогательный образовательный ресурс, позволяющий преподавателю централизовано раздать задания своим студентам,
        а студенту - получить задание и отправить решение на проверку. </p>
    <hr />
    <p class="lead text-center">Для начала работы
    <a href="~/Account/Login"> выполните вход </a>
    или   
     <a href="~/Account/Register"> зарегистрируйтесь </a>
    , если не имеете учетной записи!    
    </p>
</div>
